@import "tailwindcss";

:root, [data-theme="redish"] {
    --color1: #991b27;
    --color2: #bd2630;
    --color3: #e64f25;
    --color4: #ed884c;
    --color4faded: #E5DADA4a;
    --color5: #f1a183;
    --color5faded: #f1a1834a;
    --color6: #E5DADA;
    --color7: #D5C5C3;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

[data-theme="blueish"] {
    --color1: #294282;
    --color2: #28345a;
    --color3: #325c6a;
    --color4: #6a9a9e;
    --color5: #9bc6bf;
    --color5faded: #9bc6bf4a;
    --color6: #F4FAFB;
    --color7: #cee6e8;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

[data-theme="greenish"] {
    --color1: #2b393b;
    --color2: #4e6a6a;
    --color3: #4e764e;
    --color4: #74a059;
    --color5: #a5be7d;
    --color5faded: #a5be7d4a;
    --color6: #F4FAFB;
    --color7: #DAE0F2;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

@theme inline {
    --color-color1: var(--color1);
    --color-color2: var(--color2);
    --color-color3: var(--color3);
    --color-color4: var(--color4);
    --color-color5: var(--color5);
    --color-color5faded: var(--color5faded);
    --color-color6: var(--color6);
    --color-color7: var(--color7);

    --font-roboto: 'Roboto', sans-serif;
}

@layer base {
    button {
        cursor: pointer;
        line-height: 1;
    }
    input.no-spinners::-webkit-outer-spin-button, input.no-spinners::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@utility flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    @apply font-roboto bg-color1 text-color6;
}

.tasks-item {
    @apply bg-color6 text-color3 text-xl font-bold p-3 mb-2.5 rounded-lg flex justify-between items-center;
}

.new-task-button {
    @apply w-full text-base font-bold py-3 px-0 bg-color5 text-color1 rounded-lg border-none flex-center gap-1.25
}

.pomodoros-input {
    @apply p-3 w-10 border-none rounded-lg bg-color6 text-color1 text-base text-center font-bold focus:outline-none box-content
}

.tasks-item-options-item {
    @apply flex items-center gap-2.5 py-1.5 px-3 border-none bg-none w-full text-color3 text-base last:mb-0 hover:bg-color7
}

/* TIMER */

.timer-option-btn {
    @apply text-xl bg-none border-none text-color6 [&.active]:font-bold [&.active]:bg-color1 [&.active]:rounded-lg [&.active]:p-1.25
}

.timer-btn {
    @apply text-3xl font-bold p-3 bg-color5 text-color1 rounded-lg border-none
}