@import "tailwindcss";

:root, [data-theme="redish"] {
    --color1: #991b27;
    --color2: #bd2630;
    --color3: #e64f25;
    --color4: #ed884c;
    --color4faded: #E5DADA4a;
    --color5: #f1a183;
    --color5faded: #f1a1834a;
    --color6: #E5DADA;
    --color7: #D5C5C3;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

[data-theme="blueish"] {
    --color1: #294282;
    --color2: #28345a;
    --color3: #325c6a;
    --color4: #6a9a9e;
    --color5: #9bc6bf;
    --color5faded: #9bc6bf4a;
    --color6: #F4FAFB;
    --color7: #cee6e8;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

[data-theme="greenish"] {
    --color1: #2b393b;
    --color2: #4e6a6a;
    --color3: #4e764e;
    --color4: #74a059;
    --color5: #a5be7d;
    --color5faded: #a5be7d4a;
    --color6: #F4FAFB;
    --color7: #DAE0F2;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

@theme inline {
    --color-color1: var(--color1);
    --color-color2: var(--color2);
    --color-color3: var(--color3);
    --color-color4: var(--color4);
    --color-color5: var(--color5);
    --color-color5faded: var(--color5faded);
    --color-color6: var(--color6);
    --color-color7: var(--color7);

    --font-roboto: 'Roboto', sans-serif;
}

@layer base {
    button {
        cursor: pointer;
        line-height: 1;
    }
    input.no-spinners::-webkit-outer-spin-button, input.no-spinners::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@utility flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    @apply font-roboto bg-color1 text-color6;
}

.tasks-item {
    @apply bg-color6 text-color3 text-xl font-bold p-3 mb-2.5 rounded-lg flex justify-between items-center;
}

.new-task-button {
    @apply w-full text-base font-bold py-3 px-0 bg-color5 text-color1 rounded-lg border-none flex-center gap-1.25
}

.pomodoros-input {
    @apply p-3 w-10 border-none rounded-lg bg-color6 text-color1 text-base text-center font-bold focus:outline-none box-content
}

.tasks-list {
    width: 100%;
    margin-bottom: 20px;
}

.tasks-item-name {
    width: 100%;
    border: none;
    background: none;
    color: var(--color3);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: start;
}

.tasks-item-name.completed {
    text-decoration: line-through 2px;
}

.tasks-item-trailing-content {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.options-button {
    border-radius: 5px;
    border-color: var(--color3);
    border-style: solid;
    border-width: 1px;
    background: var(--color6);
    color: var(--color3);
}

.options-button:hover {
    cursor: pointer;
}

.tasks-item-options {
    position: absolute;
    width: 125px;
    padding: 12px 0px;
    background: var(--color6);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px;
}

.tasks-item-options-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 12px;
    border: none;
    background: none;
    width: 100%;
    color: var(--color3);
    font-size: 1rem;
}

.tasks-item-options-item:last-child {
    margin-bottom: 0px;
}

.tasks-item-options-item:hover {
    background: var(--color7);
}

/* aaaaa */

.tasks-item-complete-button {
    border: none;
    background: none;
    margin-right: 10px;
}

.tasks-item:not(.selected) > .tasks-item-complete-button {
    margin-left: 10px;
}

.tasks-item-complete-button > span {
    font-size: 30px;
}

.tasks-item-complete-button > span.completed {
    color: var(--color3);
}

.tasks-item-complete-button > span:not(.completed) {
    color: var(--color7);
}

/* TIMER */

.timer-container {
    margin-bottom: 20px;
    width: 100%;
}

.timer {
    background: var(--color5faded);
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 20px;
}

.timer-options {
    display: flex;
    gap: 8px;
}

.timer-option-btn {
    font-size: 1.2rem;
    background: none;
    border: none;
    color: var(--color6);
}

.timer-option-btn.active {
    font-weight: bold;
    background: var(--color1);
    border-radius: 8px;
    padding: 5px;
}

.timer-option-btn:hover {
    cursor: pointer;
}

.timer-string {
    font-size: 8rem;
}

.timer-buttons {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-btn {
    font-size: 2rem;
    font-weight: bold;
    padding: 12px;
    background: var(--color5);
    color: var(--color1);
    border-radius: 8px;
    border: none;
}

.timer-skip {
    position: absolute;
    right: 0;
    border: none;
    background: none;
    color: var(--color6);
}

.timer-skip > span {
    font-size: 3rem;
}

.timer-pomodoro-count {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color1);
    display: flex;
    align-items: center;
    gap: 8px;
}

.timer-pomodoro-count > .timer-info-text {
    font-size: 1.5rem;
}

.timer-pomodoro-count > .refresh {
    background: none;
    border: none;
    color: var(--color1);
    padding: 0;
}

.timer-info {
    background: var(--color4);
    border-radius: 0px 0px 8px 8px;
    padding: 12px;
}

.timer-current-task {
    font-size: 1.2rem;
    font-style: italic;
    padding: 20px;
    text-align: center;

}